.main-content {
  display: flex;
  margin-left: 220px;
  margin-top: 50px;
  overflow: auto;
  table-layout: fixed;

}

.table {
  width: 80%;
  height: 100%;
  table-layout: fixed;
  border-spacing: 2px;
}

.table th {
  font-weight: 1500;
  text-align: left;
  padding: 10px 0;
}

.table tr:hover {
  color: aqua;
  cursor: pointer;
}



@media (max-width: 1200px) {

  .table th:nth-child(4),
  .table td:nth-child(4) {
    display: none;
  }
}

@media (max-width: 992px) {

  .table th:nth-child(3),
  .table td:nth-child(3) {
    display: none;
  }
}

@media (max-width: 768px) {

  .table th:nth-child(2),
  .table td:nth-child(2) {
    display: none;
  }
}

@media (max-width: 400px) {
  .main-content {
    margin-left: 115px;
  }
}

.delete-button {
  position: absolute;
  right: 20px;
  top: 100px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}

.select-checkbox {
  margin-right: 10px;
  vertical-align: middle;
}