.App {
  display: flex;
}

.main-area {
  margin-left: 20px; /* Adjust based on the width of the side nav bar */
  width: calc(100% - 20px);
  display: flex;
 
  
}

.main-content {
  margin-top: 20px; /* Reduced margin to move content closer to the top */
  padding: 20px;
  overflow-x: auto;
}