.App {
  display: flex;
}

.main-area {
  margin-left: 20px; /* Adjust based on the width of the side nav bar */
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
}


.main-content {
  margin-top: 70px; /* Adjust based on the height of the top search bar */
  padding: 20px;
  overflow-x: auto;
}